:root {
    --color_main: #8174A0;
    --color_second: #c0b3de;
    --color_mainDark: #534b67;
    --color_12: #00bcd4;
    --color_mainTrans: #8174a0b3;
    --color_lightDark: #333333;
    --color_18: #FF0000;
    --color_mainDarkTrans: #534b6774;
}