@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    background-color: #8174A0;
}

.borde {
    padding: 1em;
}

button {
    border: none;
}
/* Pantallas de minimo 1024px (Grande) */
@media (min-width: 1024px) {
    .borde {
        padding: 0;
    }

    .nav_space {
        display: flex;
        justify-content: center;
        padding: 5em;
    }

    .cabecera {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c0b3de;
        border-radius: 5px;
        font-size: 36px;
    }

    .boton {
        font-size: 29px;
        background-color: #534b6774;
        padding: 0.4em;
        border-radius: 0.5em;
        border: none;
        cursor: pointer;
        margin-right: 1em;
        color: white;
    }

    .boton:hover {
        color: black;
        background-color: #c0b3de;
    }

    .main_estilo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90%;
        gap: 3em;
        font-size: 24px;
    }

    .footer_space {
        max-width: 100%;
        font-size: 23px;
    }

    .pie {
        position: fixed;
        bottom: 0%;
        top: auto;
        height: auto;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        background-color: #c0b3de;
        padding: 1em;
    }


}
/* Pantallas de máximo 1024px (Mediano) */
@media (max-width: 1024px) {
    .borde {
        padding: 0;
    }

    .nav_space {
        display: flex;
        justify-content: center;
        padding: 5em;
    }
/* white-space sirve para que el texto no cambie de línea */
    .cabecera {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c0b3de;
        border-radius: 5px;
        font-size: 40px;
        white-space: nowrap;
    }

    .boton {
        font-size: 26px;
        background-color: #534b6774;
        padding: 0.4em;
        border-radius: 0.5em;
        border: none;
        cursor: pointer;
        margin-right: 1em;
        color: white;
    }

    .boton:hover {
        color: black;
        background-color: #c0b3de;
    }

    .main_estilo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90%;
        gap: 3em;
        font-size: 30px;
    }

    .footer_space {
        max-width: 100%;
        font-size: 19px;
    }

    .pie {
        position: fixed;
        bottom: 0%;
        top: auto;
        height: auto;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        background-color: #c0b3de;
        padding: 1em;
    }

}
/* Pantallas de máximo 768px (Normal) */
@media (max-width: 768px) {
    .cabecera {
        width: 59%;
        font-size: 32px;
    }

    .main_estilo {
        font-size: 24px;
    }

    .pie>input {
        font-size: 24px;
    }

}

@media (max-width: 480px) {
    .cabecera {
        width: 76%;
        font-size: 29px;
    }

    .main_estilo {
        font-size: 24px;
    }

    .pie>input {
        font-size: 20px;
    }
}