@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

body {
  background-color: var(--color_main);
  width: 100%;
}

.display {
  display: all;
}

.display_icons {
  display: none;
}

/*NAVEGADOR*/
nav {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

nav div {
  display: flex;
  gap: 0.6em;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li a {
  border-radius: 1em;
  display: block;
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: var(--color_mainDark);
}

nav li,
nav span {
  padding: 0.7em;
  background-color: var(--color_second);
  border-radius: 1em;
}

nav span>input {
  font-size: 1em;
  background-color: transparent;
  border: none;
}

nav i {
  font-size: 2em;
  color: var(--color_second);
}

nav span i {
  font-size: 1em;
  color: black;
}

/*SECCIÓN HERO ASIDE*/
section {
  display: flex;
  width: 100%;
}


/* Modelo Grande (Para monitores) */
@media (min-width: 1024px) {

  .contenedor-busqueda {
    display: flex;
    align-items: center;
    width: 3em;
    border-radius: 1em;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
  }

  .contenedor-busqueda:focus-within {
    width: 15em;
  }

  /*Bordes de pagina web*/
  .borde {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  /*Estructura del Nav*/
  .Estructura-nav {
    display: flex;
  }

  .nav1 {
    align-items: center;
    white-space: nowrap;
  }

  .nav1 ul {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .nav2 {
    justify-content: flex-end;
  }

  .menu_desplegable {
    position: relative;
    display: inline-block;
  }

  /* Ocultar el menú por defecto */
  .menu_accion {
    display: none;
    position: absolute;
    background-color: var(--color_mainDark);
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  /* Mostrar el menú cuando el botón está en hover */
  .menu_desplegable:hover .menu_accion {
    display: block;
  }

  .items {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
  }

  .bi-palette {
    color: black;
  }


  button {
    font-size: 1em;
    background-color: transparent;
    padding: 0.4em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    margin-right: 1em;
  }

  .hero {
    height: 40em;
  }

  /* Clasificación por edades */

  .plus_12 h3 {
    background-color: var(--color_12) !important;
    color: black;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    display: inline-block;
    font-size: clamp(14px, 2vw, 20px);
    /* Texto responsive */
  }

  .plus_18 h3 {
    background-color: var(--color_18) !important;
    color: black;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    display: inline-block;
    font-size: clamp(14px, 2vw, 20px);
    /* Texto responsive */
  }

  /* Puntaje en estrellas */
  .puntaje {
    display: flex;
    width: 7em;
    height: 1.5em;
    background-color: var(--color_mainTrans);
    justify-content: space-around;
    border-radius: 1em;
    align-items: center;
  }

  .puntaje-bordes {
    padding-top: 1em;
  }

  /* Categorias */

  .categoria {
    display: flex;
    width: 7em;
    height: 1.5em;
    background-color: var(--color_mainTrans);
    justify-content: space-around;
    border-radius: 1em;
    align-items: center;
  }

  .categoria-bordes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 1em;
    width: 25em;
  }

  /* Contenedor del carrusel */
  .carrusel-contenedor {
    width: 100%;
    height: 98%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
  }

  .carrusel {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    animation: slide 20s infinite;
    /* Duración de la animación */
  }

  .carrusel-objeto {
    flex: 0 0 100%;
    /* Ajusta para mostrar un elemento a la vez */
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    position: relative;
    background-color: #c0b3de;
  }

  .carrusel-objeto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .carrusel-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 8), rgba(0, 0, 0, 0));
    color: white;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .carrusel-texto h2 {
    margin: 0;
    font-size: clamp(20px, 5vw, 36px);
    /* Texto responsive */
  }

  .carrusel-texto p {
    padding-bottom: 1em;
    margin: 0.5em 0 0;
    font-size: clamp(14px, 3vw, 18px);
    /* Texto responsive */
    word-wrap: break-word;
    /* Permite que las palabras largas se dividan */
    text-align: left;
    width: 100%;
    max-width: 50%;
    /* Ajusta el ancho máximo del párrafo */
  }

  /* Animación del carrusel */
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }

    25% {
      transform: translateX(0%);
    }

    33.33% {
      transform: translateX(-100%);
    }

    58.33% {
      transform: translateX(-100%);
    }

    66.66% {
      transform: translateX(-200%);
    }

    91.66% {
      transform: translateX(-200%);
    }

    100% {
      transform: translateX(0%);
    }
  }


  /* Sección de tarjetas */
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--color_second);
    width: 100%;
  }

  .expositor-tarjetas {
    display: flex;
    gap: 1em;
    padding: 1em;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
  }

  .expositor-tarjetas::-webkit-scrollbar {
    height: 8px;
    /* Altura de la barra de desplazamiento */
  }

  .expositor-tarjetas::-webkit-scrollbar-thumb {
    background: var(--color_mainDark);
    /* Color del scrollbar */
    border-radius: 4px;
  }

  /* Estilos para las tarjetas */
  .tarjeta {
    width: 13em;
    background: var(--color_lightDark);
    color: white;
    border-radius: 1em;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    flex-shrink: 0;
  }

  .tarjeta img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    /* Ajusta la imagen sin deformarla */
  }

  .tarjeta h3 {
    margin: 0.5em 0;
    font-size: 18px;
  }

  .tarjeta:hover {
    transform: scale(1.05);
    /* Efecto de hover */
  }

  .listado_espacio {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .listado {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    background-color: var(--color_main);
    width: 11em;
    font-size: 28px;
    color: white;
    padding: 0.6em;
    border-radius: 1em;
  }

  .pie {
    display: flex;
    gap: 3em;
    justify-content: space-around;
    align-items: center;
  }

  .info {
    font-size: 18px;
    background-color: var(--color_mainDark);
    border-radius: 1em;
  }

  .info:hover {
    background-color: white;
  }

  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    gap: 1em;
    text-decoration: none;
  }

  .redes a:visited {
    color: black;
  }

  a:link {
    color: black
  }

  .redes a:hover {
    color: white;
  }
}

/* Modelo Mediano (Para tablets en horizontal) */

@media (max-width: 1024px) {

  /*Estructura del Nav*/
  .Estructura-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 3.8em;
    background-color: var(--color_main);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    padding-left: 0, 5em;
  }


  /*Botones de barra de navegación*/
  /* Quita los botones */
  .display {
    display: none;
  }

  .contenedor-busqueda {
    display: none;
  }

  /* Muestra los iconos */
  .display_icons {
    display: block;
  }

  /* Quita el botón del logo */
  .display_icons:first-child {
    display: none;
  }

  .nav1 ul,
  .nav2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  .nav2 {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .hero {
    height: 40em;
  }

  /* Clasificación por edades */

  .plus_12 h3 {
    background-color: var(--color_12) !important;
    color: black;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    display: inline-block;
    font-size: clamp(14px, 2vw, 20px);
  }

  .plus_18 h3 {
    background-color: var(--color_18) !important;
    color: black;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    display: inline-block;
    font-size: clamp(14px, 2vw, 20px);
  }

  /* Puntaje en estrellas */
  .puntaje {
    display: flex;
    width: 7em;
    height: 1.5em;
    background-color: var(--color_mainTrans);
    justify-content: space-around;
    border-radius: 1em;
    align-items: center;
  }

  .puntaje-bordes {
    padding-top: 1em;
  }

  /* Categorias de las películas y series, ranking, tipo de contenido, etc */
  .categoria {
    display: flex;
    width: 7em;
    height: 1.5em;
    background-color: var(--color_mainTrans);
    justify-content: space-around;
    border-radius: 1em;
    align-items: center;
  }

  /* Espaciados de las categorías de las series/películas */
  .categoria-bordes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 1em;
    width: 25em;
  }

  /* Contenedor del carrusel */
  .carrusel-contenedor {
    width: 95%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 3.8em;
  }

  .carrusel {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    animation: slide 20s infinite;
    /* Duración de la animación */
  }

  /* Las imagenes que hay en el carruel */
  .carrusel-objeto {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    position: relative;
    background-color: var(--color_second);
  }

  .carrusel-objeto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* Margenes y texto del carrusel */
  .carrusel-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 8), rgba(0, 0, 0, 0));
    color: white;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Descripcion de la película */
  .carrusel-texto h2 {
    margin: 0;
    font-size: clamp(20px, 5vw, 36px);
    /* Texto responsive */
  }

  .carrusel-texto p {
    padding-bottom: 1em;
    margin: 0.5em 0 0;
    font-size: clamp(14px, 3vw, 18px);
    /* Texto responsive */
    word-wrap: break-word;
    text-align: left;
    width: 100%;
    max-width: 50%;
  }

  /* Animación del carrusel */
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }

    25% {
      transform: translateX(0%);
    }

    33.33% {
      transform: translateX(-100%);
    }

    58.33% {
      transform: translateX(-100%);
    }

    66.66% {
      transform: translateX(-200%);
    }

    91.66% {
      transform: translateX(-200%);
    }

    100% {
      transform: translateX(0%);
    }
  }


  /* Sección de tarjetas */
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--color_second);
  }

  .expositor-tarjetas {
    display: flex;
    gap: 1em;
    padding: 1em;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    padding-left: 5em;
  }

  .expositor-tarjetas::-webkit-scrollbar {
    height: 12px;
  }

  .expositor-tarjetas::-webkit-scrollbar-thumb {
    background: var(--color_mainDark);
    border-radius: 4px;
  }

  .tarjeta {
    width: 13em;
    background: var(--color_lightDark);
    color: white;
    border-radius: 1em;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    flex-shrink: 0;
  }

  .tarjeta img {
    width: 100%;
    height: 16em;
    object-fit: cover;
    /* Ajusta la imagen sin deformarla */
  }

  .tarjeta h3 {
    margin: 0.5em 0;
    font-size: 16px;
  }


  .tarjeta:hover {
    transform: scale(1.05);
    /* Efecto de hover */
  }

  .listado_espacio {
    display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 4em;
  }

  .listado {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    background-color: var(--color_main);
    width: 10em;
    font-size: 18px;
    color: white;
    padding: 0.6em;
    border-radius: 1em;
  }

  .pie {
    display: flex;
    gap: 3em;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
    padding-left: 1em;
  }

  .info {
    font-size: 18px;
    background-color: var(--color_mainDark);
    border-radius: 1em;
    padding: 0.5em;
  }

  .info:hover {
    background-color: white;
  }

  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 1em;
    text-decoration: none;
  }

  .redes a:visited {
    color: black;
  }

  .redes a:hover {
    color: white;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 20px;
  }

  a:link {
    color: black
  }

}

/* Modelo Normal (Para tablets en vertical) */

@media (max-width: 768px) {

  /*Estructura del Nav restablecido*/
  .Estructura-nav {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contenedor-busqueda {
    display: flex;
    align-items: center;
    width: 3em;
    border-radius: 1em;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
  }

  .contenedor-busqueda:focus-within {
    width: 15em;
  }

  button {
    font-size: 1em;
    background-color: var(--color_mainDarkTrans);
    padding: 0.4em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    margin-right: 1em;
  }

  .nav1 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color_main);
    z-index: 1000;
    display: flex;
    justify-content: start;
    padding: 0.5em 0;
  }

  .nav1 ul {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
  }

  .nav2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color_main);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0.5em 0;
    padding-left: 1em;
  }

  .nav2 span {
    display: flex;
    align-items: center;
  }

  .menu_desplegable {
    position: relative;
    display: inline-block;
  }

  /* Ocultar el menú por defecto */
  .menu_accion {
    display: none;
    position: absolute;
    background-color: var(--color_mainDark);
    border: 1px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  /* Mostrar el menú cuando el botón está en hover o foco */
  .menu_desplegable:hover .menu_accion {
    display: block;
  }

  .items:hover {
    color: white;
  }

  /* Ajuste de márgenes para evitar solapamientos */
  .hero,
  .contenedor-principal {
    margin-top: 0em;
    /* Ajustar según altura de nav2 */
    margin-bottom: 0em;
    /* Ajustar según altura de nav1 */
  }

  /* Añade los botones Inicio y Mis Listas */
  .display:nth-child(2) {
    display: block;
  }

  .display:nth-child(3) {
    display: block;
  }

  /* Deshabilita todos los iconos */
  .display_icons {
    display: none;
  }

  /* Se muestra el buscador */
  .nav2 .display {
    display: block;
  }

  /* Cambiar orden de buscador y hamburger list */
  .nav2>span {
    order: 1;
  }

  /* Estrellas más pequeñas */
  .puntaje {
    font-size: 14px;
  }

  /* Contenedor del carrusel corregido */
  .carrusel-contenedor {
    width: 100%;
    height: 100%;
    margin-left: 0em;
  }

  .expositor-tarjetas {
    padding-left: 0em;
  }

  .listado_espacio {
    padding-left: 0em;
  }

  .carrusel-texto h2 {
    margin: 0;
    font-size: clamp(20px, 5vw, 36px);
  }

  /* Desactivar la seccion de redes y ayuda */
  .pie {
    display: none;
  }

}

/* Modelo Compacto (Para moviles) */

@media (max-width: 480px) {

  .borde {
    width: 100%;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
  }

  nav {
    padding: 1em;
  }

  .display {
    display: none;
  }

  .Estructura-nav>.nav1 {
    display: none;
  }

  .nav2 {
    position: fixed;
    bottom: 0%;
    left: 0;
    top: auto;
    height: auto;
    width: 100%;
    z-index: 1000;
    display: flex;
    padding: 0.5em 0;
    padding-left: 1em;
  }

  /* Para que el hamburger list, para que aparezca arriba y no abajo*/
  .menu_accion {
    bottom: 100%;
  }

  /* Estilos para las tarjetas */
  .tarjeta {
    width: 6em;
  }

  .tarjeta img {
    height: 12em;
  }

  .tarjeta h3 {
    font-size: 12px;
  }

  .pie {
    display: none;
  }

}